.searchCities{
    display: flex;
    flex-direction: column;
    align-items: center;
    .cities{
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-bottom:10px ;
    margin-top: -20px;
    padding-top: 10px;
    border-bottom-left-radius:  20px;
    border-bottom-right-radius:  20px;
    color: white;
    background-color: #b0cceaa6;
    }
    .cities::-webkit-scrollbar {
        display: none;
        width: 10px;
        background-color: lightblue;
    }
    .cities:hover::-webkit-scrollbar {
        display: initial;  
      }
    .cities::-webkit-scrollbar-thumb {
        background-color: #09C;
      }
}

.inputSearch{
    width: 100%;
    padding: 12px 20px;
    border:1px solid white;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    outline: transparent;
}

.inputCities{
    min-width: 300px;
    position: fixed;
    margin: 20px;
}

.itemCity{
    
    font-size: 20px;
    padding: 12px 20px; ;
}

